.titulo {
    color: #709fb0;
    font-family: 'Josefin Sanz', cursive;
    size: 30px;
}

.descrip {
    font-family: 'Roboto', sans-serif;
    size: 20px;
}

.boton {
    color: #709fb0;
    size: 30px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #709fb0;
}