<div style="background-color:#f7f7ee; padding-bottom: auto;" class="container-fluid">
    <!-- <div class="row mt-3">
        <div class="col">
            <button class="btn btn-light boton"> <i class="fas fa-download" style="color: #709fb0; size: 20px;"></i>
                Descargar Catálogo</button>
        </div>
        <div class="col">
            <button class="btn btn-light boton" [routerLink]="['/contacto']">Consulta / Cotización</button>
        </div>
    </div> -->

    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="../../../assets/productos/carro1.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">CARRO DE CURACIONES</h5>
                    <p class="card-text descrip"><i class="fas fa-check" style="color: #a6f6f1;"></i> Caño de acero de 20 mm x 20 mm de 1,2 mm de espesor <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Cromado o esmaltado con pintura epoxi
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Ruedas de nylon de 45 mm de diámetro duales
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Dos planos de madera revestida en laminado plástico
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Porta ondinas y porta tambor (algodonero).
                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Peso</th>
                                <th scope="col">Largo</th>
                                <th scope="col">Alto</th>
                                <th scope="col">Ancho</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>10 Kg</td>
                                <td>60 cm</td>
                                <td>80 cm</td>
                                <td>40 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="../../../assets/productos/carro2.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">CARRO DE CURACIONES CON CAJON</h5>
                    <p class="card-text descrip"><i class="fas fa-check" style="color: #a6f6f1;"></i> En caño de acero de 20 mm x 20 mm de 1,2 mm de espesor <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Cromado o esmaltado con pintura epoxi
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Ruedas de nylon de 45 mm de diámetro duales
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Dos planos de madera mdf revestida en laminado plástico y cajón
                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Peso</th>
                                <th scope="col">Largo</th>
                                <th scope="col">Alto</th>
                                <th scope="col">Ancho</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>10 Kg</td>
                                <td>60 cm</td>
                                <td>80 cm</td>
                                <td>40 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="../../../assets/productos/carro3.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">CARRO DE CURACIONES ACERO INOXIDABLE</h5>
                    <p class="card-text descrip"><i class="fas fa-check" style="color: #a6f6f1;"></i> En caño de acero de 20 mm x 20 mm de 1,2 mm de espesor <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Cromado o esmaltado con pintura epoxi
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Ruedas de nylon de 45 mm de diámetro duales
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Dos planos de <strong>acero inoxidable</strong>
                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Peso</th>
                                <th scope="col">Largo</th>
                                <th scope="col">Alto</th>
                                <th scope="col">Ancho</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>10 Kg</td>
                                <td>60 cm</td>
                                <td>80 cm</td>
                                <td>40 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="../../../assets/productos/carro4.jpeg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">CARRO PARA EQUIPAMIENTO</h5>
                    <p class="card-text descrip"><i class="fas fa-check" style="color: #a6f6f1;"></i> Caño de acero de 20 mm x 20 mm de 1,2 mm de espesor <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Esmaltado con pintura epoxi <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Ruedas de nylon de 45 mm de diámetro duales <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Trefilado de 5 mm de espesor <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Planos de madera mdf revestida en laminado plástico
                        <br> <strong>También disponible con 2 planos</strong>
                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Peso</th>
                                <th scope="col">Largo</th>
                                <th scope="col">Alto</th>
                                <th scope="col">Ancho</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>10 Kg</td>
                                <td>60 cm</td>
                                <td>80 cm</td>
                                <td>40 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>