.descrip {
    font-family: 'Roboto', sans-serif;
    size: 20px;
}

.boton {
    color: #709fb0;
    size: 30px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #709fb0;
}

.borde {
    border: 3px solid #a6f6f1;
}

.titulo {
    color: #709fb0;
    font-weight: bold;
}