<div style="background-color:#f7f7ee; padding-bottom: auto;" class="container-fluid">
    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-light boton"> <i class="fas fa-download" style="color: #709fb0; size: 20px;"></i>
                Descargar Catálogo</button>
        </div>
        <div class="col">
            <button class="btn btn-light boton" [routerLink]="['/contacto']">Consulta / Cotización</button>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mt-5">
        <div class="col mb-4">
            <div class="card h-100" style="border: 3px solid #709fb0;">
                <img src="../../../assets/productos/carro1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title titulo">Modelo: CCF <br><br> Carro de curaciones</h5>
                    <br><br>
                    <p class="card-text descrip">
                        Sólida estructura en caño de acero de 20 mm x 20 mm de 1,2 mm de espesor, cromado o esmaltado con pintura epoxi, con ruedas de nylon de 60 mm de diámetro duales, 2 planos de madera revestida en laminado plástico, con tres porta ondinas y porta tambor
                        (algodonero).
                    </p>
                    <br><br>
                    <p class="card-text descrip">
                        Medidas: <br> Largo - 0,60 m <br> Ancho - 0,40 m <br> Alto - 0,80 m
                    </p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100" style="border: 3px solid #709fb0;">
                <img src="../../../assets/productos/carro2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title titulo">Modelo: CCC <br><br> Carro de curaciones con cajón</h5>
                    <br><br>
                    <p class="card-text descrip">Sólida estructura en caño de acero de 20 mm x 20 mm de 1,2 mm de espesor, cromado o esmaltado con pintura epoxi, con ruedas de nylon de 60 mm de diámetro duales, 2 planos de madera revestida en laminado plástico y cajón.</p>
                    <br><br>
                    <p class="card-text descrip">Medidas: <br> Largo - 0,60 m <br> Ancho - 0,40 m <br> Alto - 0,80 m</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100" style="border: 3px solid #709fb0;">
                <img src="../../../assets/productos/carro3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title titulo">Modelo: CCAI <br><br> Carro de curaciones acero inoxidable</h5>
                    <br><br>
                    <p class="card-text descrip">Sólida estructura en caño de acero de 20 mm x 20 mm de 1,2 mm de espesor, cromado o esmaltado con pintura epoxi, con ruedas de nylon de 60 mm de diámetro duales, 2 planos de acero inoxidable
                    </p>
                    <br><br>
                    <p class="card-text descrip">Medidas: <br> Largo - 0,60 m <br> Ancho - 0,40 m <br> Alto - 0,80 m</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100" style="border: 3px solid #709fb0;">
                <img src="../../../assets/productos/carro4.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title titulo">Modelo: CK3 <br> Carro baranda</h5>
                    <p class="card-text descrip">Carro porta equipos con baranda de tres planos. (También disponible con dos planos)</p>
                </div>
            </div>
        </div>
    </div>
</div>