<div style="background-color:#f7f7ee; padding-bottom: auto;" class="container-fluid">
    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="assets/productos/mesaComer.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">MESA DE COMER EN LA CAMA</h5>
                    <p class="card-text"><i class="fas fa-check" style="color: #a6f6f1;"></i> Construida en caño de acero <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Regulable en altura
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Plano melanina sobre mdf
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Ruedas de nylon de 45 mm de diámetro duales

                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Peso</th>
                                <th scope="col">Ancho</th>
                                <th scope="col">Largo</th>
                                <th scope="col">Espesor</th>
                                <th scope="col">Altura min</th>
                                <th scope="col">Altura max</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>7 Kg</td>
                                <td>40 cm</td>
                                <td>80 cm</td>
                                <td>18 cm</td>
                                <td>74 cm</td>
                                <td>100 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <img src="assets/productos/mesaLuz.jpeg" class="card-img" alt="...">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">MESA DE LUZ MADERA</h5>
                    <p class="card-text"><i class="fas fa-check" style="color: #a6f6f1;"></i> Construida en MDF <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Con cajón y puerta <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Ruedas de nylon 45 mm de diámetro duales
                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Peso</th>
                                <th scope="col">Ancho</th>
                                <th scope="col">Profundidad</th>
                                <th scope="col">Alto S/ Ruedas</th>
                                <th scope="col">Alto C/ Ruedas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>8 Kg</td>
                                <td>40 cm</td>
                                <td>35 cm</td>
                                <td>70 cm</td>
                                <td>75 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <img src="assets/productos/mesadeluzChapa.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">MESA DE LUZ CHAPA</h5>
                    <p class="card-text"><i class="fas fa-check" style="color: #a6f6f1;"></i> Construida en chapa de 20 <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Con cajón, puerta y plano superior en MDF <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Ruedas de nylon 45 mm de diámetro duales
                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Peso</th>
                                <th scope="col">Ancho</th>
                                <th scope="col">Profundidad</th>
                                <th scope="col">Alto S/ Ruedas</th>
                                <th scope="col">Alto C/ Ruedas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>8 Kg</td>
                                <td>40 cm</td>
                                <td>35 cm</td>
                                <td>70 cm</td>
                                <td>75 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>