<div style="background-color:#f7f7ee; padding-bottom: auto;" class="container-fluid">
    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="assets/productos/parto.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">SILLON DE PARTO</h5>
                    <p class="card-text"><i class="fas fa-check" style="color: #a6f6f1;"></i> Base pesada es de acero revestido con ABS DE alto impacto y de gran estabilidad.
                       <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Posee 4 ruedas de 125mm de diámetro (2con frenos), de fabricación importada, que permite un ágil y suave desplazamiento de la mesa
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> El formato de la base brinda una acceso total y ergonométrico al campo operativo, por parte del profesional. <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> El sector del asiento es desmontable y facilita la limpieza.
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Accionamiento de posiciones:
                        La totalidad de los movimientos, ascenso, descenso, trendelemburg y fowler
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Accesorios incluidos:
                        Par de hombreras, par de pierneras goepel, par de puños, par de apoya pies para parto vertical, bandeja recolectora, juego de 2 morsas plásticas para sostén de los mismos y 2 morsas de acero inoxidable para diversos usos.
                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Peso max del paciente</th>
                                <th scope="col">Altura min</th>
                                <th scope="col">Altura max</th>
                                <th scope="col">Ancho de mesa</th>
                                <th scope="col">Ancho con guia laterales</th>
                                <th scope="col">Largo respaldo</th>
                                <th scope="col">Largo asiento</th>
                                <th scope="col">Largo piecera</th>
                                <th scope="col">Largo total</th>
                                <th scope="col">Largo base</th>
                                <th scope="col">Ancho base</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>150 Kg</td>
                                <td>80 cm</td>
                                <td>118 cm</td>
                                <td>60 cm</td>
                                <td>64 cm</td>
                                <td>77 cm</td>
                                <td>50 cm</td>
                                <td>60 cm</td>
                                <td>194 cm</td>
                                <td>91 cm</td>
                                <td>61 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
