<div style="background-color:#f7f7ee; padding-bottom: auto;" class="container-fluid">

    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="col-md-2"></div>
        <div class="row no-gutters">
            <div class="col-md-3">
                <img src="../../../assets/productos/tabureteSR.jpeg" class="card-img" alt="...">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">TABURETE SIN RESPALDO</h5>
                    <p class="card-text descrip"><i class="fas fa-check" style="color: #a6f6f1;"></i> Caño de acero<br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Cromado o esmaltado en epoxi
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Rodante o Fijo
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Regulable en altura
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Ruedas de nylon de 45 mm de diámetro duales
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Tapizado en cuerina (negra o blanca)
                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Alto min</th>
                                <th scope="col">Alto max</th>
                                <th scope="col">Diametro asiento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>50 cm</td>
                                <td>75 cm</td>
                                <td>35 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="col-md-2"></div>
        <div class="row no-gutters">
            <div class="col-md-3">
                <img src="../../../assets/productos/tabureteRespaldo.jpeg" class="card-img" alt="...">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">TABURETE CON RESPALDO</h5>
                    <p class="card-text descrip"><i class="fas fa-check" style="color: #a6f6f1;"></i> Caño de acero<br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Cromado o esmaltado en epoxi
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Rodante o Fijo
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Regulable en altura
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Ruedas de nylon de 45 mm de diámetro duales
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Tapizado en cuerina (negra o blanca)
                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Alto min</th>
                                <th scope="col">Alto max</th>
                                <th scope="col">Diametro asiento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>50 cm</td>
                                <td>75 cm</td>
                                <td>35 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="col-md-2"></div>
        <div class="row no-gutters">
            <div class="col-md-3">
                <img src="../../../assets/productos/tabureteNeum.jpeg" class="card-img" alt="...">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">TABURETE NEUMATICO</h5>
                    <p class="card-text descrip"><i class="fas fa-check" style="color: #a6f6f1;"></i> En caño de acero de 20 mm x 20 mm de 1,2 mm de espesor <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Cromado o esmaltado con pintura epoxi
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Ruedas de nylon de 45 mm de diámetro duales
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Dos planos de <strong>acero inoxidable</strong>
                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Alto min</th>
                                <th scope="col">Alto max</th>
                                <th scope="col">Diametro asiento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>50 cm</td>
                                <td>75 cm</td>
                                <td>35 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="col-md-2"></div>
        <div class="row no-gutters">
            <div class="col-md-3">
                <img src="../../../assets/productos/escalera2.jpeg" class="card-img" alt="...">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">ESCALERA DOS PELDAÑOS</h5>
                    <p class="card-text descrip"><i class="fas fa-check" style="color: #a6f6f1;"></i> En caño de acero<br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Cromado o esmaltado con pintura epoxi
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> TAMBIÈN DISPONIBLE CON TRES PELDAÑOS
                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Alto 2 Peldaños</th>
                                <th scope="col">Alto 3 Peldaños</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>38 cm</td>
                                <td>48 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>