<div style="background-color:#f7f7ee; padding-bottom: auto;" class="container-fluid">
    <div class="card text-center mt-3 ml-5 mr-5 mb-5 borde">
        <div class="card-header titulo">
            <i class="fas fa-users mr-3" style="color:#709fb0; font-size: 26px;"></i> NOSOTROS
        </div>
        <div class="card-body">
            <p class="card-text">
                Somos una empresa familiar con <strong>más de 30 años</strong> de exitosa trayectoria en el rubro. <br> De lo que fue una antigua fábrica de sillas, que sólo producía para el mercado local, llegamos a una empresa de primera línea; de alcance
                nacional, con la misma clientela que desde hace décadas nos honra con su preferencia. <br><br> Esta evolución está basada en la calidad de materiales y terminación característicos de nuestra línea de productos; sumada a una escrupulosa
                formalidad en el cumplimiento de nuestros compromisos y responsabilidad con los plazos de entrega.
                <br><br> Nuestros clientes valoran esta conducta, es por eso que nos distinguen con su fidelidad, sobre todo, aquellas empresas que están dirigidas por descendientes de los fundadores y que mantienen la extraordinaria estabilidad de nuestros
                negocios. <br>
            </p>
        </div>
    </div>

    <div class="card-deck mb-5">
        <div class="card ml-5 borde">
            <div class="card-header titulo">
                <i class="fas fa-procedures mr-3" style="color: #709fb0; font-size: 26px;"></i>MISIÓN
            </div>
            <div class="card-body">
                <p class="card-text">La misión de <strong>ALTAMEDIC</strong> es la fabricación de amoblamiento hospitalario para brindar al sistema de salúd alternativas de calidad a precios asequibles.</p>
            </div>
        </div>
        <div class="card ml-3 borde">
            <div class="card-header titulo">
                <i class="fas fa-eye mr-3" style=" color: #709fb0;  font-size: 26px;"></i> VISIÓN
            </div>
            <div class="card-body">
                <p class="card-text">Constituir una empresa líder en la región por su calidad e innovación</p>
            </div>

        </div>
        <div class="card ml-3 borde">
            <div class="card-header titulo">
                <i class="fas fa-award mr-3" style="color: #709fb0; font-size: 26px;"></i> VALORES
            </div>
            <div class="card-body">
                <p class="card-text"><i class="fas fa-check" style="color: #a6f6f1;"></i> Honestidad
                    <br><br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> Confianza
                    <br><br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> Responsabilidad <br></p>
            </div>

        </div>
        <div class="card ml-3 mr-5 borde">
            <div class="card-header titulo">
                <i class="fas fa-mountain mr-3" style=" color: #709fb0; font-size: 26px;"></i> PILARES
            </div>
            <div class="card-body">
                <p class="card-text"><i class="fas fa-check" style="color: #a6f6f1;"></i> Brindar la mejor <strong>calidad</strong> en atención, producto y servicio.
                    <br><br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> Honrar la <strong>confianza</strong> que nuestros clientes nos confían. <br><br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> Marcar la diferencia con <strong>innovación</strong> permanente.</p>
            </div>

        </div>
    </div>


    <div class="card mb-3 borde ml-5 mr-5">
        <div class="card-body">
            <h5 class="card-title" style=" color: #709fb0;"> <i class="fas fa-certificate mr-3" style="color: #709fb0; font-size: 26px;"></i> CERTIFICACIONES</h5>
            <p class="card-text">Calidad de productos garantizada en cumplimiento con las normas más exigentes</p>

            <img src="../../../assets/anmat.png" width="20%">
            <br><br>
            <button class="btn btn-light boton" [routerLink]="['/nosotros/anmat']"> Ver Documentación</button>
        </div>

    </div>

</div>