<div style="background-color:#f7f7ee; padding-bottom: auto;" class="container-fluid">
    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="assets/productos/portasuero.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">PORTA SUERO RODANTE</h5>
                    <p class="card-text"><i class="fas fa-check" style="color: #a6f6f1;"></i> Caño de acero <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Regulación en altura
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Ruedas de nylon de 45 mm de diámetro duales
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Base pintada en epoxi
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Parte superior cromada
                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Peso</th>
                                <th scope="col">Altura min</th>
                                <th scope="col">Altura max</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2 Kg</td>
                                <td>130 cm</td>
                                <td>200 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="assets/productos/portasueroCB.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">PORTA SUERO RODANTE CON PORTA BOMBA DE INFUSIÓN</h5>
                    <p class="card-text"><i class="fas fa-check" style="color: #a6f6f1;"></i> Caño de acero <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Regulación en altura
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Con Porta Bomba de infusión
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Ruedas de nylon de 45 mm de diámetro duales
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Base estrella plastica 5 ramas
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Parte superior cromada
                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Peso</th>
                                <th scope="col">Altura min</th>
                                <th scope="col">Altura max</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>3 Kg</td>
                                <td>130 cm</td>
                                <td>200 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>