<div style="background-color:#f7f7ee; padding-bottom: auto;" class="container-fluid row">
    <img src="../../../assets/barbijo.jpg" alt="" class="img-fluid">

    <div class="col ml-3">
        <div class="card text-center mt-5 borde">
            <div class="card-header titulo">
                <i class="fas fa-user-friends mr-3" style=" color: #709fb0;  font-size: 26px;"></i>ATENCIÓN PERSONALIZADA
            </div>
            <div class="card-body">
                <p class="card-text">Estamos para asesorarte, contactate con nosotros y te responderemos enseguida</p>
            </div>
        </div>
        <div class="card text-center mt-5 borde">
            <div class="card-header titulo">
                <i class="fas fa-palette mr-3" style=" color: #709fb0;  font-size: 26px;"></i> DISEÑOS PERSONALIZADOS
            </div>
            <div class="card-body">
                <p class="card-text">Realizamos diseños de productos 100% personalizados, adaptamos y modificams diseños existentes para adaptarnos a tus necesidades !</p>
            </div>
        </div>
        <div class="card text-center mt-5 borde">
            <div class="card-header titulo">
                <i class="fas fa-truck-moving mr-3" style=" color: #709fb0;  font-size: 26px;"></i> ENVÍOS A TODO EL PAÍS
            </div>
            <div class="card-body">
                <p class="card-text">Realizamos envios a todo el pais a travez de nuestros transportes de mayor confinza </p>
            </div>
        </div>
        <div class="card text-center mt-5 borde">
            <div class="card-header titulo">
                <i class="fas fa-wrench mr-3" style=" color: #709fb0;  font-size: 26px;"></i> ASISTENCIA TÉCNICA
            </div>
            <div class="card-body">
                <p class="card-text">Ofrecemos servicio de reparacion de todo tu amoblamiento</p>
            </div>
        </div>
        <div class="card text-center mt-5 borde">
            <div class="card-header titulo">
                <i class="fas fa-history mr-3" style=" color: #709fb0;  font-size: 26px;"></i> ENTREGAS EN TIEMPO Y FORMA
            </div>
            <div class="card-body">
                <p class="card-text">Sabemos lo importante que es recibir su pedido en tiempo y forma por lo que trabajamos con un amplio stock de productos</p>
            </div>
        </div>
    </div>

</div>