<div style="background-color:#f7f7ee; padding-bottom: auto;" class="container-fluid">
    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="assets/productos/portaTuboO2.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">PORTA TUBO DE O2 - Grande: 6 metros - Chico: 3 metros</h5>
                    <p class="card-text"><i class="fas fa-check" style="color: #a6f6f1;"></i> Caño de acero <br>

                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Ruedas de goma 120 mm de diamtero
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Esmaltado en pintura epoxi
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i>
                        <br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>