<div style="background-color:#f7f7ee; padding-bottom: auto;" class="container-fluid">

    <div class="row row-cols-1 row-cols-md-3 mt-5">
        <div class="col mb-4">
            <div class="card h-100 borde">
                <img src="../../../../assets/productos/MI3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title titulo">CAMA ORTOPEDICA DE INTERNACION</h5>
                    <button class="btn boton" [routerLink]="['/productos/ortopedica']">Ver</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100 borde">
                <img src="../../../../assets/productos/terapia.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title titulo">CAMA DE TERAPIA INTENSIVA</h5>
                    <button class="btn boton" [routerLink]="['/productos/terapia']">Ver</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100 borde">
                <img src="../../../../assets/productos/MI1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title titulo">CAMA DE ASILO</h5>
                    <p class="card-text">Un movimiento: Elevación de cabezal hasta 60º aprox.</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100 borde">
                <img src="..." class="card-img-top" alt="Imagen no disponible">
                <div class="card-body">
                    <h5 class="card-title titulo">CAMA LINEA ECONOMICA</h5>
                    <button class="btn boton" [routerLink]="['/contacto']">Consultar</button>
                </div>
            </div>
        </div>
    </div>
</div>