<div style="background-color:#f7f7ee; padding-bottom: auto;" class="container-fluid">

    <div class="card mb-3 mt-3 mr-5 ml-5 borde">

        <div class="row no-gutters">
            <div class="col-md-1"></div>
            <div class="col-md-4 text-center">
                <img src="assets/productos/camaOEbaja.jpeg" class="card-img" alt="...">
            </div>
            <div class="col-md-7">
                <div class="card-body text-left text-center">
                    <br><br>
                    <h5 class="card-title titulo">CAMA ORTOPEDICA DE INTERNACION ELECTRICA</h5>
                    <br><br>
                    <a href="https://youtu.be/vketuKU-NOE" class="btn boton"><i class="fab fa-youtube mr-3" style="font-size: 30px;"></i> Ver Video</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card ml-5 mr-5 mt-3 mb-3 borde">
        <div class="card-body row">

            <div class="col-md-6">
                <div class="card-header titulo">
                    CARACTERISTICAS
                </div>
                <br> <br>
                <p class="card-text text-left">
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> Lecho rígido
                    <br> <br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> Articulaciones reguladas por motor en 3 secciones: torso, tobillos y rodillas.
                    <br> <br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> Marco realizado con caños estructurales pintados con pintura epoxi (Color: Crema).
                    <br> <br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> <strong> Opciones de Cabeceros:</strong> de madera con trapecio incluido o desmontables de plástico termo formado.
                    <br>
                    <button type="button" class="btn boton" data-toggle="modal" data-target="#exampleModal3">
                        Ver Opcional
                      </button>
                    <br> <br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> <strong> Opciones de barandas:</strong> fijas base o rebatibles. De 1 metro de largo.
                    <br>
                    <button type="button" class="btn boton" data-toggle="modal" data-target="#exampleModal2">
                        Ver Opcional
                      </button>
                    <br> <br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> Ruedas de giro libre (125 mm de diámetro), 2 con freno y 2 sin freno.
                    <br>
                    <button type="button" class="btn boton" data-toggle="modal" data-target="#exampleModal">
                        Ver Ruedas
                      </button>

                </p>
                <div class="card mb-3" style="max-width: 800px;">
                    <div class="card-header titulo">
                        MOTOR
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="assets/productos/motor.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">
                                    Motor Twindrive TD1 LINAK 220/250 <br> Cabecero angulo 68º +/- 3º <br> Piecera angulo 45º +/- 3º
                                </p>
                                <p><button type="button" class="btn boton" data-toggle="modal" data-target="#exampleModal1">
                                            Ver Control
                                          </button></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-header titulo">
                    ESPECIFICACIONES
                </div>

                <br><br>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Medidas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Ancho</th>
                            <td>85 cm</td>
                        </tr>
                        <tr>
                            <th scope="row">Largo</th>
                            <td>200 cm</td>
                        </tr>
                        <tr>
                            <th scope="row">Ancho Lecho</th>
                            <td>80 cm</td>
                        </tr>
                        <tr>
                            <th scope="row">Largo Lecho</th>
                            <td>194 cm</td>
                        </tr>
                        <tr>
                            <th scope="row">Altura Lecho</th>
                            <td>53 cm o la solicitada por el cliente</td>
                        </tr>
                        <tr>
                            <th scope="row">Con embalaje</th>
                            <td>60 cm alto x 96 cm ancho x 210 cm largo</td>
                        </tr>
                        <tr>
                            <th scope="row">Peso max paciente</th>
                            <td>135 Kg</td>
                        </tr>
                        <tr>
                            <th scope="row">Carga de trabajo segura</th>
                            <td>170 Kg</td>
                        </tr>
                        <tr>
                            <th scope="row">Color</th>
                            <td>Crema</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>





    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ruedas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <img src="assets/productos/ruedas.jpg" alt="" class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Control Remoto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <img src="assets/productos/control.jpg" alt="" class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Barandas rebatibles</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <img src="barandas" alt="" class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">Cabecero Plástico Termo Formado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <img src="assets/productos/plastico.jpg" alt="" class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>

</div>