.borde {
    border: 3px solid #a6f6f1;
}

.titulo {
    color: #709fb0;
    font-weight: bold;
}

.boton {
    color: #709fb0;
    size: 30px;
    font-family: 'Lato', sans-serif;
    border: 3px solid #a6f6f1;
}