<div style="background-color:#f7f7ee; padding-bottom: auto;" class="container-fluid">
    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="assets/productos/nuevaCamillaAltura.jpeg " class="card-img" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">NUEVA CAMILLA REGULABLE EN ALTURA</h5>
                    <p class="card-text"><i class="fas fa-check" style="color: #a6f6f1;"></i> Sólida estructura en caño de acero <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Terminación en pintura epoxi <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Patas con regatones plásticos anti-deslizantes <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Plano superior en madera <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Acolchado de espuma de poliuretano de 4 cm de espesor <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Tapizado en cuerina de textura suave de alta calidad y fácilmente lavable
                        <br> <i class="fas fa-check" style="color: #a6f6f1;"></i> Regulable en altura con manivela
                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Carga Dinámica</th>
                                <th scope="col">Ancho</th>
                                <th scope="col">Largo</th>
                                <th scope="col">Altura min</th>
                                <th scope="col">Altura max</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>200 Kg</td>
                                <td>60 cm</td>
                                <td>175 cm</td>
                                <td>70 cm</td>
                                <td>94 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="assets/productos/cabezalMovil.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">CAMILLA CABEZAL MÓVIL</h5>
                    <p class="card-text"><i class="fas fa-check" style="color: #a6f6f1;"></i> Sólida estructura en caño de acero <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Terminación en pintura epoxi <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Patas con regatones plásticos anti-deslizantes <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Plano superior en madera <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Acolchado de espuma de poliuretano de 4 cm de espesor <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Tapizado en cuerina de textura suave de alta calidad y fácilmente lavable <br> <i class="fas fa-check" style="color: #a6f6f1;"></i> Plano superior (cabezal móvil) o plano inferior
                        (piecero móvil) regulable en altura
                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Peso</th>
                                <th scope="col">Carga Dinámica</th>
                                <th scope="col">Ancho</th>
                                <th scope="col">Largo</th>
                                <th scope="col">Alto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>10 Kg</td>
                                <td>200 Kg</td>
                                <td>60 cm o 70 cm</td>
                                <td>175 cm</td>
                                <td>70 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="assets/productos/camillaPlegable.jpeg" class="card-img" alt="...">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">CAMILLA PLEGABLE</h5>
                    <p class="card-text"><i class="fas fa-check" style="color: #a6f6f1;"></i> Sólida estructura en caño de acero <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Terminación en pintura epoxi <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Patas con regatones plásticos anti-deslizantes <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Plano superior en madera <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Acolchado de espuma de poliuretano de 4 cm de espesor <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Tapizado en cuerina de textura suave de alta calidad y fácilmente lavable
                        <br> <i class="fas fa-check" style="color: #a6f6f1;"></i> Patas plegables para facilitar la movilidad y aprovechar el espacio
                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Carga Dinámica</th>
                                <th scope="col">Ancho</th>
                                <th scope="col">Largo</th>
                                <th scope="col">Alto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>200 Kg</td>
                                <td>60 cm</td>
                                <td>175 cm</td>
                                <td>70 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="assets/productos/valija.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">CAMILLA VALIJA</h5>
                    <p class="card-text"><i class="fas fa-check" style="color: #a6f6f1;"></i> Sólida estructura en caño de acero <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Terminación en pintura epoxi <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Bisagras en acero estampado, dando mayor rigidez en las patas <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Patas con regatones plásticos anti-deslizantes <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Plano superior en madera <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Acolchado de espuma de poliuretano de 4 cm de espesor <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Tapizado en cuerina de textura suave de alta calidad y fácilmente lavable <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Manijas plásticas reforzadas para traslado
                        <br><br> <strong>Especificaciones Técnicas: </strong> <br>
                    </p>


                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Peso</th>
                                <th scope="col">Carga Dinámica</th>
                                <th scope="col">Ancho</th>
                                <th scope="col">Largo</th>
                                <th scope="col">Alto</th>
                                <th scope="col">Medidas Plegada</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>14 Kg</td>
                                <td>200 Kg</td>
                                <td>60 cm o 70 cm</td>
                                <td>176 cm</td>
                                <td>70 cm</td>
                                <td>89 cm x 60 cm o 70 cm x 20 cm </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="assets/productos/camillaBase.jpeg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">CAMILLA DE EXAMEN CLÍNICO</h5>
                    <p class="card-text">
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Sólida estructura en caño de acero <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Terminación cromada o pintura epoxi <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Plano superior en madera con cabezal elevado <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Acolchado de espuma de poliuretano de 4 cm de espesor <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Tapizado en cuerina de textura suave de alta calidad y fácilmente lavable <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Patas rígidas con regatones plásticos anti-deslizantes <br> <br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Peso</th>
                                <th scope="col">Carga Dinámica</th>
                                <th scope="col">Ancho</th>
                                <th scope="col">Largo</th>
                                <th scope="col">Alto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>10 Kg</td>
                                <td>200 Kg</td>
                                <td>60 o 70 cm</td>
                                <td>175 cm</td>
                                <td>70 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="assets/productos/ginecontren.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">CAMILLA GINECOLÓGICA CON TRENDELEMBURG</h5>
                    <p class="card-text">
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Sólida estructura en caño de acero
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Terminación cromada o pintura epoxi
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Plano superior en madera
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Acolchado de espuma de poliuretano de 4 cm de espesor
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Tapizado en cuerina de textura suave de alta calidad y fácilmente lavable
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Patas rígidas con regatones plásticos anti-deslizantes
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Sistema Trendelemburg para facilitar el posicionamiento decúbito supino del paciente <br><br>
                        <button type="button" class="btn boton" data-toggle="modal" data-target="#exampleModal">
                            VER PIERNERAS
                          </button>
                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Peso</th>
                                <th scope="col">Carga Dinámica</th>
                                <th scope="col">Ancho</th>
                                <th scope="col">Largo</th>
                                <th scope="col">Alto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>15 Kg</td>
                                <td>200 Kg</td>
                                <td>75 cm</td>
                                <td>170 cm</td>
                                <td>72,5 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="assets/productos/gineco.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body text-left">
                    <h5 class="card-title titulo">CAMILLA GINECOLÓGICA BASE</h5>
                    <p class="card-text">
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Sólida estructura en caño de acero
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Terminación cromada o pintura epoxi
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Plano superior en madera
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Acolchado de espuma de poliuretano de 4 cm de espesor
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Tapizado en cuerina de textura suave de alta calidad y fácilmente lavable
                        <br>
                        <i class="fas fa-check" style="color: #a6f6f1;"></i> Patas rígidas con regatones plásticos anti-deslizantes
                        <br> <br>
                        <button type="button" class="btn boton" data-toggle="modal" data-target="#exampleModal1">
                            VER PIERNERAS
                          </button>
                        <br><br>
                        <strong>Especificaciones Técnicas: </strong> <br>
                    </p>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Peso</th>
                                <th scope="col">Carga Dinámica</th>
                                <th scope="col">Ancho</th>
                                <th scope="col">Largo</th>
                                <th scope="col">Alto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>15 Kg</td>
                                <td>200 Kg</td>
                                <td>75 cm</td>
                                <td>170 cm</td>
                                <td>72,5 cm</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Piernera de Gineco con Tren</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <img src="assets/productos/apoyaPieGinecoCT.jpeg" alt="" class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Piernera de Gineco Base</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <img src="assets/productos/apoyaPieGC.jpeg" alt="" class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>
</div>