<div style="background-color:#f7f7ee; padding-bottom: auto;" class="container-fluid">
    <div class="row mb-5 mt-3">
        <div class="col formulario ml-5 mr-5">
            <h1 class="titulo">CONTACTANOS</h1>
            <br>
            <br>
            <form name="contact" action="POST" data-netlify="true">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="nombre" style="font-family: 'Roboto', sans-serif; color: #709fb0;">Nombre</label>
                        <input name="nombre" type="text" class="form-control d-block" id="Nombre">
                    </div>
                    <div class="form-group col-12">
                        <label for="email" style="font-family: 'Roboto', sans-serif; color: #709fb0;">Email</label>
                        <input name="email" type="email" class="form-control d-block" id="Email">
                    </div>
                    <div class="form-group col-12">
                        <label for="mensaje" style="font-family: 'Roboto', sans-serif; color: #709fb0;">Asunto</label>
                        <textarea name="mensaje" class="form-control d-block" id="mensaje" rows="5"></textarea>
                    </div>
                    <input type="submit" class="btn btn-block" style="background-color: #709fb0; color:#f7f7ee; font-family: 'Roboto', sans-serif; size: 20px;" value="Enviar Mensaje">

                </div>
            </form>
        </div>


        <div class="col mapaCol d-none d-lg-block d-xl-block">
            <div class="row mb-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13410.728272000664!2d-60.720471!3d-32.827188!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x55a8399b6e849fb7!2saltamedic!5e0!3m2!1ses-419!2sar!4v1601493868931!5m2!1ses-419!2sar" width="100%"
                    height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>

            <div class="row">

                <div class="col-5">
                    <img src="../../../assets/ALTAMEDIC.png" alt="" width="100%" height="auto" class="img-fluid">
                </div>

                <div class="col-7">
                    <div class="social row mt-3">
                        <p class="social">
                            <i class="fas fa-map-marker-alt mr-3" style="font-size: 26px;"></i> 25 de Mayo 367, Capitán Bermudez
                            <br> Santa Fe, Argentina</p>
                    </div>

                    <div class="row social mb-3">
                        <a href=" " class="social">
                            <i class="fab fa-whatsapp mr-3" style="font-size: 26px;"></i> +54 341 3200336</a>
                    </div>

                    <div class="row social">
                        <p class="social"><i class="fas fa-phone mr-3" style="font-size: 26px;"></i> +54 341 444444</p>
                    </div>

                    <div class="social row">
                        <a href="mailto:altamedic@netcoop.com.ar" class="social">
                            <i class="far fa-envelope mr-3" style="font-size: 26px;"></i>altamedic@netcoop.com.ar</a>
                    </div>

                </div>
            </div>
            <div class="social row mt-3 ml-5">
                <a href="https://www.facebook.com/Altamedic-Amoblamiento-Hospitalario-101504281689596" class="social">
                    <i class="fab fa-facebook mr-3" style="font-size: 26px;"></i>Altamedic Amoblamiento Hospitalario</a>
            </div>
        </div>
    </div>

    <div class="d-lg-none d-xl-none mt-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13410.728272000664!2d-60.720471!3d-32.827188!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x55a8399b6e849fb7!2saltamedic!5e0!3m2!1ses-419!2sar!4v1601493868931!5m2!1ses-419!2sar" width="100%"
            height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>

    <div class="d-lg-none d-xl-none">
        <div class="col-5 mb-3 mt-3">
            <img src="../../../assets/ALTAMEDIC.png" alt="" width="100%" height="auto" class="img-fluid">
        </div>
        <div class="col-7">
            <div class="row social mb-3">
                <a href=" " class="social">
                    <i class="fab fa-whatsapp mr-3" style="font-size: 20px;"></i> +54 341 3200336</a>
            </div>
            <div class="row social">
                <p class="social"><i class="fas fa-phone mr-3" style="font-size: 20px;"></i> +54 341 444444</p>
            </div>
            <div class="social row">
                <a href="mailto:altamedic@netcoop.com.ar" class="social">
                    <i class="far fa-envelope mr-3" style="font-size: 20px;"></i> altamedic@netcoop.com.ar</a>
            </div>
            <div class="social row">
                <a href="https://www.facebook.com/Altamedic-Amoblamiento-Hospitalario-101504281689596" class="social">
                    <i class="fab fa-facebook mr-1" style="font-size: 20px;"></i>Altamedic Amoblamiento Hospitalario</a>
            </div>
        </div>
    </div>


</div>