<div style="background-color:#f7f7ee; padding-bottom: auto;" class="container-fluid">

    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-7 text-center">
                <img src="../../../../assets/productos/terapia.png" class="card-img" alt="...">
            </div>
            <div class="col-md-5">
                <div class="card-body text-left text-center">
                    <br> <br>
                    <h5 class="card-title titulo">CAMA DE TERAPIA INTENSIVA</h5>
                    <br><br>
                    <!-- <p class="card-text descrip titulo">
                        <img src="../../../assets/anmat.png" width="40%">
                    </p> -->
                </div>
            </div>
        </div>
    </div>

    <div class="card ml-5 mr-5 mt-3 mb-3 borde">
        <div class="card-body row">

            <div class="col-md-6">
                <div class="card-header titulo">
                    CARACTERISTICAS
                </div>
                <br> <br>
                <p class="card-text text-left">
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> Lecho rígido y radio translúcido
                    <br> <br> <i class="fas fa-check" style="color: #a6f6f1;"></i> Porta suero metálico incluido
                    <br> <br> <i class="fas fa-check" style="color: #a6f6f1;"></i> Articulaciones reguladas por manivela, de lecho completo y cabecera
                    <br> <br> <i class="fas fa-check" style="color: #a6f6f1;"></i> Marco realizado con caños estructurales pintados con pintura epoxi
                    <br> <br> <i class="fas fa-check" style="color: #a6f6f1;"></i> Ruedas de giro libre (2 con freno y 2 sin freno)
                    <br> <br> <i class="fas fa-check" style="color: #a6f6f1;"></i> Opciones de Cabeceros: de madera o desmontables de plástico termo formado
                    <br> <br> <i class="fas fa-check" style="color: #a6f6f1;"></i> Opciones de Barandas: fijas básicas o rebatibles

                </p>
            </div>
            <div class="col-md-6">
                <div class="card-header titulo">
                    ESPECIFICACIONES
                </div>

                <br><br>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Medidas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Ancho</th>
                            <td>95 cm</td>
                        </tr>
                        <tr>
                            <th scope="row">Largo</th>
                            <td>200 cm</td>
                        </tr>
                        <tr>
                            <th scope="row">Ancho Lecho</th>
                            <td>90 cm</td>
                        </tr>
                        <tr>
                            <th scope="row">Largo Lecho</th>
                            <td>194 cm</td>
                        </tr>
                        <tr>
                            <th scope="row">Altura Lecho</th>
                            <td>53 cm o la solicitada por el cliente</td>
                        </tr>
                        <tr>
                            <th scope="row">Peso max paciente</th>
                            <td>135 Kg</td>
                        </tr>
                        <tr>
                            <th scope="row">Carga de trabajo segura</th>
                            <td>170 Kg</td>
                        </tr>
                        <tr>
                            <th scope="row">Color</th>
                            <td>Crema</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- <div class="card text-center mt-3 ml-5 mr-5 mb-5 borde">
        <div class="card-header titulo">
            MOVIMIENTOS
        </div>
        <div class="card-body">
            <img src="../../../../assets/productos/movimientosMI.png" class="img-fluid" alt="Responsive image">
        </div>
    </div> -->


</div>