<div style="background-color:#f7f7ee; padding-bottom: auto;" class="container-fluid">

    <div class="card mb-3 mt-3 mr-5 ml-5 borde">
        <div class="row no-gutters">
            <div class="col-md-4 text-center">
                <img src="../../../../assets/productos/MI3.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body text-left text-center">
                    <br> <br>
                    <h5 class="card-title titulo">CAMA ORTOPEDICA DE INTERNACION</h5>
                    <br><br>
                    <p class="card-text descrip titulo">
                        <img src="../../../assets/anmat.png" width="40%">
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card ml-5 mr-5 mt-3 mb-3 borde">
        <div class="card-body row">

            <div class="col-md-6">
                <div class="card-header titulo">
                    CARACTERISTICAS
                </div>
                <br> <br>
                <p class="card-text text-left">
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> Lecho rígido y radio translúcido.
                    <br> <br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> Todos los modelos incluyen trapecio.
                    <br> <br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> Articulaciones reguladas por manivela en 3 secciones: torso, tobillos y rodillas.
                    <br> <br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> <strong> Opciones de Cabeceros:</strong> de madera o desmontables de plástico termo formado.
                    <br> <br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> <strong> Opciones de barandas:</strong> fijas base o rebatibles. De 1 metro de largo.
                    <br> <br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> Marco realizado con caños estructurales pintados con pintura epoxi (Color: Crema).
                    <br> <br>
                    <i class="fas fa-check" style="color: #a6f6f1;"></i> Ruedas de giro libre (125 mm de diámetro), 2 con freno y 2 sin freno.

                </p>
            </div>
            <div class="col-md-6">
                <div class="card-header titulo">
                    ESPECIFICACIONES
                </div>

                <br><br>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Medidas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Ancho</th>
                            <td>95 cm</td>
                        </tr>
                        <tr>
                            <th scope="row">Largo</th>
                            <td>200 cm</td>
                        </tr>
                        <tr>
                            <th scope="row">Ancho Lecho</th>
                            <td>90 cm</td>
                        </tr>
                        <tr>
                            <th scope="row">Largo Lecho</th>
                            <td>194 cm</td>
                        </tr>
                        <tr>
                            <th scope="row">Altura Lecho</th>
                            <td>53 cm o la solicitada por el cliente</td>
                        </tr>
                        <tr>
                            <th scope="row">Con embalaje</th>
                            <td>60 cm alto x 96 cm ancho x 210 cm largo</td>
                        </tr>
                        <tr>
                            <th scope="row">Peso max paciente</th>
                            <td>135 Kg</td>
                        </tr>
                        <tr>
                            <th scope="row">Carga de trabajo segura</th>
                            <td>170 Kg</td>
                        </tr>
                        <tr>
                            <th scope="row">Color</th>
                            <td>Crema</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="card text-center mt-3 ml-5 mr-5 mb-5 borde">
        <div class="card-header titulo">
            MOVIMIENTOS
        </div>
        <div class="card-body">
            <img src="../../../../assets/productos/movimientosMI.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>

    <div class="card ml-5 mr-5 mt-3 mb-3 borde">
        <div class="card-body row">
            <div class="col">
                <div class="card-header titulo">
                    MODELOS DISPONIBLES
                </div>
                <br><br>
                <div class=" table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Modelo: MI1</th>
                                <th scope="col">Modelo: MI2</th>
                                <th scope="col">Modelo: MI3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Porta trapecio</th>
                                <td><i class="fas fa-check" style="color: #a6f6f1;"></i></td>
                                <td><i class="fas fa-check" style="color: #a6f6f1;"></i></td>
                                <td><i class="fas fa-check" style="color: #a6f6f1;"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">Trapecio</th>
                                <td><i class="fas fa-check" style="color: #a6f6f1;"></i></td>
                                <td><i class="fas fa-check" style="color: #a6f6f1;"></i></td>
                                <td><i class="fas fa-check" style="color: #a6f6f1;"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">Barandas</th>
                                <td> </td>
                                <td><i class="fas fa-check" style="color: #a6f6f1;"></i></td>
                                <td><i class="fas fa-check" style="color: #a6f6f1;"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">Ruedas</th>
                                <td> </td>
                                <td> </td>
                                <td><i class="fas fa-check" style="color: #a6f6f1;"></i></td>
                            </tr>
                            <tr>
                                <th scope="row">Imagen</th>
                                <td><button type="button" class="btn boton" data-toggle="modal" data-target="#exampleModal">
                                    Ver
                                  </button></td>
                                <td><button type="button" class="btn boton" data-toggle="modal" data-target="#exampleModal1">
                                    Ver
                                  </button></td>
                                <td><button type="button" class="btn boton" data-toggle="modal" data-target="#exampleModal2">
                                    Ver
                                  </button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modelo: MI1</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <img src="../../../../assets/productos/MI1.jpeg" alt="" class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Modelo: MI2</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <img src="../../../../assets/productos/MI2.jpg" alt="" class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Modelo: MI3</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <img src="../../../../assets/productos/MI3.jpg" alt="" class="img-thumbnail">
                </div>
            </div>
        </div>
    </div>


</div>